<section class="flex flex-col justify-center bg-white">
  <div class="px-2.5 pt-20 w-full max-md:pl-5 max-md:max-w-full">
    <div class="flex gap-5 max-md:flex-col">
      <aside class="flex flex-col w-[35%] max-md:ml-0 max-md:w-full">
        <div class="flex flex-col grow pb-20 mt-40 w-full font-medium bg-white rounded-md border border-solid border-neutral-400 border-opacity-60 text-zinc-800 max-md:mt-10">
          <header class="px-4 py-2.5 text-lg whitespace-nowrap max-md:pr-5">ינואר</header>
          <div class="flex flex-col p-2.5 text-xs whitespace-nowrap">
            <div class="flex gap-3 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">S</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">M</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">T</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">W</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">T</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">F</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">S</div></div>
            </div>
            <div class="flex gap-4 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">01</div></div>
              <div class="flex flex-col justify-center p-1 text-white"><div class="p-1.5 bg-blue-700 rounded-[99px]">02</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">03</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">04</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">05</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">06</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">07</div></div>
            </div>
            <div class="flex gap-4 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">08</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">09</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">10</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">11</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">12</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">13</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">14</div></div>
            </div>
            <div class="flex gap-4 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">15</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">16</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">17</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">18</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">19</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">20</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">21</div></div>
            </div>
            <div class="flex gap-4 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">22</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">23</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">24</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">25</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">26</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">27</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">28</div></div>
            </div>
            <div class="flex gap-4 justify-between">
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">29</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">30</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">31</div></div>
              <div class="flex flex-col justify-center p-1"><div class="py-1.5">01</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">02</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">03</div></div>
              <div class="flex flex-col justify-center p-1"><div class="p-1.5">04</div></div>
            </div>
          </div>
          <div class="flex flex-col px-4 py-2.5">
            <h3 class="text-base">Upcoming events</h3>
            <div class="flex flex-col px-20 py-2 mt-2.5 text-xs max-md:px-5">
              <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/2bd8f5b19b25ef2e39f8803fefb36917ec9d11e1cafea470db8baf13827c7546?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="self-center aspect-square w-[45px]" alt="" />
              <p class="mt-2.5 max-md:mr-1 max-md:ml-1.5">No upcoming events</p>
            </div>
          </div>
        </div>
      </aside>
      <main class="flex flex-col ml-5 w-[65%] max-md:ml-0 max-md:w-full">
        <div class="self-stretch my-auto max-md:mt-10 max-md:max-w-full">
          <div class="flex gap-5 max-md:flex-col">
            <section class="flex flex-col w-[65%] max-md:ml-0 max-md:w-full">
              <div class="flex flex-col items-end p-6 w-full text-base bg-white rounded-lg text-neutral-900 max-md:px-5 max-md:mt-4 max-md:max-w-full">
                <h2 class="p-2 text-lg font-medium leading-6 whitespace-nowrap">לעשות:</h2>
                <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/4fde3ac7564b44b0952bcbb45bb8140c4b5fefa53a476628b1670546e8ce1af9?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="w-6 aspect-square" alt="" />
                <div class="flex gap-3 p-2 shadow-[0px_4px_4px_rgba(0,0,0,0.25)]">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/3dfb391135ed8d4ed5b9721a949a93fd4df8dedf45c27c8724336227783295fe?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="shrink-0 w-6 aspect-square" alt="" />
                  <p class="my-auto">to-do item</p>
                </div>
                <div class="flex gap-3 p-2">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/d370c9937170bd82f634e4f8397dfc01e5d19e247c9fcdb93a74e2db6ccbddf1?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="shrink-0 w-6 aspect-square" alt="" />
                  <p class="my-auto">to-do item</p>
                </div>
                <div class="flex gap-3 py-2 pr-2 pl-8 max-md:px-5">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/5d3579bcf0834c8b7e2d341b2bbbea3463007940085734add051489d0ee496e4?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="shrink-0 w-6 aspect-square" alt="" />
                  <p class="my-auto">Indented to-do item</p>
                </div>
                <div class="flex gap-3 p-2">
                  <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/ec2607dbe6f0e900b109ee46b27c154c90a75b4b0cb6f42fe39796ed0c9e7ed7?apiKey=be21ceca65014582a529fdcc778925a1&&apiKey=be21ceca65014582a529fdcc778925a1" class="shrink-0 w-6 aspect-square" alt="" />
                  <p class="my-auto">to-do item</p>
                </div>
              </div>
            </section>
            <nav class="flex flex-col ml-5 w-[35%] max-md:ml-0 max-md:w-full">
              <ul class="flex flex-col grow mt-16 text-lg font-medium text-white max-md:mt-10">
                <li class="px-16 py-3 whitespace-nowrap rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">נכסים</a>
                </li>
                <li class="px-16 py-2 mt-10 rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">ניהול לקוחות</a>
                </li>
                <li class="px-16 py-3 mt-10 whitespace-nowrap rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">מסמכים</a>
                </li>
                <li class="px-16 py-2.5 mt-9 whitespace-nowrap rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">דו"חות</a>
                </li>
                <li class="px-16 pt-4 pb-2 mt-10 rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5 max-md:mt-10">
                  <a href="#" tabindex="0">סיכומי פגישות</a>
                </li>
                <li class="px-16 py-2.5 mt-9 rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">אנשי קשר</a>
                </li>
                <li class="px-16 pt-1.5 pb-3.5 mt-10 rounded-3xl border-2 border-solid border-zinc-100 shadow-[0px_4px_25px_rgba(0,0,0,0.25)] max-md:px-5">
                  <a href="#" tabindex="0">עריכת פרופיל</a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </main>
    </div>
  </div>
</section>