<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtorSphere</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('/static/pics/RealtorSphere.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>
    <script>
        async function login(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;

            const response = await fetch('/login', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email, password })
            });

            const result = await response.json();
            if (response.status === 200) {
                alert('Login successful!');
                window.location.href = 'homescreen.html';  // Redirect to homescreen.html
            } else {
                alert('Login failed!');
            }
        }
    </script>
</head>
<body class="flex items-center justify-center min-h-screen text-blue-950">
    <div class="absolute bottom-2 left-50 m-4 p-5 bg-white bg-opacity-80 rounded-lg shadow-lg">
        <h1 class="text-4xl font-bold mb-4">אימייל</h1>
        <input type="email" id="email" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס כתובת אימייל">
        <h1 class="text-4xl font-bold mb-4">סיסמה</h1>
        <input type="password" id="password" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס סיסמה">
        <button onclick="login(event)" class="block px-8 py-4 mt-6 text-4xl text-white backdrop-blur-none border-blue-900 bg-blue-900 w-[275px] rounded-3xl shadow-lg">התחבר</button>
        <a href="#" class="block mt-4 text-xl text-sky-900">שכחתי סיסמה</a>
        <a href="#" class="block mt-2 text-xl text-sky-900">אין משתמש? הירשם עכשיו</a>
    </div>
</body>
</html>
