<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RealtorSphere</title>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <style>
        body {
            background-image: url('static/pics/RealtorSphereRegistration.jpg');
            background-size: cover;
            background-position: center;
        }
    </style>

  </head>
<body class="flex items-center justify-center min-h-screen text-blue-950">

<div class="absolute bottom-2 left-50 m-4 p-5 bg-white bg-opacity-80 rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-4">שם פרטי</h1>
    <input type="userName" id="userName" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס שם פרטי">
    <h1 class="text-4xl font-bold mb-4">שם משפחה</h1>
    <input type="lastName" id="lastName" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס שם משפחה">
    <h1 class="text-4xl font-bold mb-4">טלפון</h1>
    <input type="phone" id="phone" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס מספר טלפון">
    <h1 class="text-4xl font-bold mb-4">אימייל</h1>
    <input type="email" id="email" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס כתובת אימייל">
    <h1 class="text-4xl font-bold mb-4">סיסמה</h1>
    <input type="password" id="password" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס סיסמה">
    <h1 class="text-4xl font-bold mb-4">וידוי סיסמה</h1>
    <input type="password" id="passwordRepeat" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס סיסמה פעם נוספת">
    <h1 class="text-4xl font-bold mb-4">מספר רישון</h1>
    <input type="lincese" id="lincese" class="input-field px-4 py-2 mb-4 text-3xl text-sky-900 border-2 border-sky-800 rounded-3xl shadow-lg" placeholder="הכנס מספר רישיון">
    <button  class="block px-8 py-4 mt-6 text-4xl text-white backdrop-blur-none border-blue-900 bg-blue-900 w-[275px] rounded-3xl shadow-lg">הירשם</button>
</div>

</body>
</html>